.place__website {
  grid-area: website;
  align-self: end;
  margin: 0;
}

@media screen and (max-width: 670px) {
  .place__website {
    margin-bottom: 32px;
    align-self: flex-start;
  }
}

@media screen and (max-width: 320px) {
  .place__website {
    margin-left: 16px;
  }
}